/* Default CSS2 document for vu-website */


html {
    background          :   #0b215a url('../img/background.gif') no-repeat fixed;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    color               :   white;
}


body {
    margin               :   0;
    padding              :   0;
}


#university-links {
    margin              :   2% 0 0 8%;
    padding             :   0;
    position            :   relative;
    list-style-type     :   none;
    height              :   90px;
    width               :   518px;
}


#university-links li {
    position            :   absolute;
}


#vu-link {
    left                :   -30px;
    top                 :   0;
    z-index             :   3;
}


#cs-link {
    left                :   110px;
    top                 :   20px;
    z-index             :   4;
}


#vu-link a {
    display             :   block;
    width               :   227px;
    height              :   122px;
    background          :   url('../img/vu-logo.png');
    text-indent         :   -100em;
}


#cs-link a {
    display             :   block;
    width               :   408px;
    height              :   52px;
    background          :   url('../img/cs.png');
    text-indent         :   -100em;
}


#banner {
    width               :   100%;
    height              :   135px;
    background          :   black url('../img/life.png') no-repeat top left;
}


#banner-top {
    height              :   5px;
    width               :   100%;
    background          :   url('../img/lines-top.png') repeat-x;
}


#banner-bottom {
    height              :   5px;
    width               :   100%;
    background          :   url('../img/lines-bottom.png') repeat-x;
}


#page-content {
    margin-left         :   8%;
    width               :   45em;
    max-width           :   90%;
}


h1, h2, h3 {
    font-weight : normal;
    font-family         :   'Trebuchet MS', Helvetica, sans-serif;
    color               :   #ff7;
}


a { 
    color               :   #4ae7ff;
}


a:visited {
    color               :   #cbf2f8;
}


a:hover {
    color               :   #ff6600;
}


img {
    padding : 0;
    margin              :   0;
}
