/* Default CSS2 document for vu-website */


html {
    margin              :   0;
    padding             :   0;
    background          :   #01014f;
    color               :   #fff;
    font-family         :   'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, sans-serif;
}


body {
    margin              :   0;
    padding             :   0;
}


#page-header {
    padding             :   1.5em 2em 0.5em 2em;
}


#breadcrumbs {
    margin-bottom       :   0;
    font-size           :   0.8em;
}


#breadcrumbs a {
    color               :   #ff360f;
}


#breadcrumbs a:hover {
    color               :   #fff;
}


h1 {
    margin              :   0;
    padding             :   0;
}


#page-content {
    padding             :   1em 20% 2em 3em;
    background          :   #d9bb7a;
    color               :   #01014f;
    font-family         :   Georgia, Palatino, Times, serif;
}


h2, h3, h4, h5 {
    margin-left         :   -1em;
    font-family         :   'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, sans-serif;
}


.content-date {
    margin-left         :   -1em;
    font-size           :   0.8em;
    font-family         :   'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, sans-serif;
}


pre, code {
    background          :   #fff;
    color               :   #01014f;
    font-family         :   monospace;
}


pre {
    padding             :   0em 1em 1em 1em;
    overflow            :   auto;
    border-top          :   solid 1px #ff360f;
    border-bottom       :   solid 2px #ff360f;
}


#page-footer {
    padding             :   1.5em 2em 1.5em 2em;
}


#page-footer h2 {
    font-size           :   1em;
}


#navigation {
    margin-bottom       :   0;
    font-size           :   0.8em;
}


#navigation a {
    color               :   #ff360f;
}


#navigation a:hover {
    color               :   #fff;
}


a {
    color               :   #ff360f;
}


a.external:after {
    content             :   " (!)";
    font-size           :   0.6em;
    vertical-align      :   top;
    color               :   #fff;
}


a:hover {
    color               :   #fe9122;
}


dt {
    font-weight         :   bold;
}


dd {
    margin-bottom       :   0.2em;
}


a[hreflang='nl']:after {
    content             :   " (Dutch)";
    font-size           :   0.6em;
    vertical-align      :   top;
    color               :   #fff;
}


.xnav {
    display             :   none;
}
