/* Default CSS2 document for vu-website */


html {
    background          :   white;
    color               :   black;
}


#menu {
    margin-top          :   0.4em;
}


#header-end {
    height              :   0.5em;
}


#footer hr {
    height              :   1px;
    border              :   none;
    border-top          :   solid 1px black;
}


pre {
    border-color        :   black;
    border-bottom-width :   2px;
    border-right-width  :   2px;
}


pre, code {
    background          :   #f9f9f9;
}
