/* Default CSS2 document for vu-website */


html {
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
}


body {
    margin              :   0;
    padding             :   0;
}


#header {
    display             :   block;
    width               :   100%;
}


#menu {
    display             :   block;
    width               :   100%;
}


#menu p {
    margin              :   0;
    padding             :   0;
    float               :   left;
    display             :   block;
    padding-left        :   2em;
    font-weight         :   normal;
    text-decoration     :   none;
}


#menu p a {
    text-decoration     :   none;
}


#menu ul {
    list-style-type     :   none;
    margin              :   0;
    padding             :   0;
}


#menu li {
    float               :   left;
}


#menu li a {
    float               :   left;
    display             :   block;
    padding             :   0 1em 0 1em;
    font-weight         :   bold;
    text-decoration     :   none;
}


#menu li a:focus {
   -moz-outline-style   :   none;  /* I don't like the dotted selection border */
}


#navigation {
    float               :   left;
    display             :   none;
    width               :   100%;
    padding             :   0.5em 0 0.5em 2.5em;
}


#navigation ul {
    margin-left         :   0;
    padding-left        :   0;
}


#navigation ul ul {
    padding-left        :   2.5em;
}


#navigation li {
    list-style-type     :   none;
}


#navigation a {
    text-decoration     :   none;
}


#header-end {
    line-height         :   1px;
    clear               :   both;
    display             :   block;
    width               :   100%;
    text-indent         :  -100em;
}


#header-end p {
    display             :   none;
}


#content {
    margin              :   0 0 2em 5%;
    width               :   45em;
    max-width           :   90%;
}


#content > * {
    margin-left         :   0.5em;
}


#content > h1, #content > h2, #content > h3, #content > h4 {
    margin-left         :   0;
}


#footer p {
    margin-left         :   1em;
    font-size           :   0.8em;
}


h1, h2, h3, h4 {
    font-weight         :   normal;
    font-family         :   Gentium, FreeSerif, Georgia, "Times New Roman", serif;
}


h2, h3 {
    margin-top          :   1.5em;
}


pre, code {
    font-family         :   "Bitstream Vera Sans Mono", monospace;
}


pre {
    padding             :   1em;
    overflow            :   auto;
    border              :   solid 1px;
}


dd {
    margin-bottom       :   0.4em;
}


img {
    padding             :   0;
    margin              :   0;
    border              :   none;
}


.skip {
    display             :   none;
}
