/* Default CSS2 document for vu-website */


html {
    background          :   black;
    color               :   white;
}


#menu {
    margin-top          :   0.4em;
}


#header-end {
    height              :   0.5em;
}


#footer hr {
    height              :   1px;
    border              :   none;
    border-top          :   solid 1px white;
}


pre {
    border-color        :   white;
    border-bottom-width :   2px;
    border-right-width  :   2px;
}


pre, code {
    background          :   #090909;
}


a {
    color               :   yellow;
}


a:visited {
    color               :   green;
}
