AddType text/css .css
AddType application/x-javascript .js
AddType "application/xhtml+xml; charset=utf-8" .xhtml

<FilesMatch "^[^\.]+$">
    #ForceType "application/xhtml+xml; charset=utf-8"
    ForceType "text/html; charset=utf-8"
</FilesMatch>

DirectoryIndex files/october-3rd-against-drm.html

ErrorDocument 404 /~mvermaat/files/october-3rd-against-drm.html
